<!DOCTYPE html>
<html lang="en">

    <head>

        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <meta http-equiv="refresh" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Support Arabic -->
        <meta charset="UTF-8">
        <!-- Not Support Arabic -->
        <!-- <meta charset="ISO-8859-1"> -->

        <style></style>
        <script></script>

        <!-- Font Google -->
        <link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <!-- Icon CSS -->
        <link rel="icon short" href="../static/assets/image/favicon (1).ico">
        <!-- BootStrap CSS -->
        <!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
        <!-- Normalize CSS -->
        <link rel="stylesheet" href="../static/normalize.css">
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="../static/all.min.css">
        <!-- Main CSS -->
        <link rel="stylesheet" href="../static/about.css">

        <title>HeMa</title>
    

    </head>

    <body>

        <!-- NAVBAR -->

        <header id="header">
            <img src="../static/assets/image/logo (1).png" alt="LOGO" class="logo">
            <nav>
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a class="active" href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="sign.html" class="signout">Sign Out</a></li>
                    <li class="bag"><a href="cart.html"><i class="fa-solid fa-bag-shopping header-cart"></i></a></li>
                    <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                </ul>
            </nav>
            <div id="mobile">
                <li class="bag"><a href="cart.html"><i class="fa-solid fa-bag-shopping header-cart mo-class"></i></a>
                </li>
                <a href="#" id="bar"><i class="fa-solid fa-bars mo-class"></i></a>
            </div>
        </header>

        <!-- ABOUT BANNER -->

        <div id="about-banner">
            <h2>#KnowUsBetter</h2>
            <p>shop more with exciting offers on curated brand!</p>
        </div>

        <!-- ABOUT SECTION -->

        <section id="about" class="section-p1">

            <div class="about-products">

                <div class="about-product">
                    <img src="../static/assets/image/about/a1 (1).png" alt="">

                    <div class="about-product-text">
                        <h2>who we are ?</h2>
                        <p>At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission
                        is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range
                        of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant
                        evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting
                        self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of
                        self-fashioning with Cara</p>
                        <a href="#">Create stunning.images.with.os much pr. as little control. as you like thanks to a choice of Basic and Creative Modes.</a>
                        <div class="empty"></div>
                    </div>

                </div>

                <div class="about-product">
                    <img src="../static/assets/image/about/a2 (1).jpg" alt="">

                    <div class="about-product-text">
                        <h2>who we are ?</h2>
                        <p>At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission
                        is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range
                        of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant
                        evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting
                        self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of
                        self-fashioning with Cara</p>
                        <a href="#">Create stunning.images.with.os much pr. as little control. as you like thanks to a choice of Basic and Creative Modes.</a>
                        <div class="empty"></div>
                    </div>

                </div>

                <div class="about-product">
                    <img src="../static/assets/image/about/a3 (1).png" alt="">

                    <div class="about-product-text">
                        <h2>who we are ?</h2>
                        <p>At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission
                        is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range
                        of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant
                        evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting
                        self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of
                        self-fashioning with Cara</p>
                        <a href="#">Create stunning.images.with.os much pr. as little control. as you like thanks to a choice of Basic and Creative Modes.</a>
                        <div class="empty"></div>
                    </div>

                </div>

                <div class="about-product">
                    <img src="../static/assets/image/about/a4 (1).png" alt="">

                    <div class="about-product-text">
                        <h2>who we are ?</h2>
                        <p>At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission
                        is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range
                        of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant
                        evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting
                        self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of
                        self-fashioning with Cara</p>
                        <a href="#">Create stunning.images.with.os much pr. as little control. as you like thanks to a choice of Basic and Creative Modes.</a>
                        <div class="empty"></div>
                    </div>

                </div>

                <div class="about-product">
                    <img src="../static/assets/image/about/a5 (1).jpg" alt="">

                    <div class="about-product-text">
                        <h2>who we are ?</h2>
                        <p>At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission
                        is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range
                        of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant
                        evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting
                        self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of
                        self-fashioning with Cara</p>
                        <a href="#">Create stunning.images.with.os much pr. as little control. as you like thanks to a choice of Basic and Creative Modes.</a>
                        <div class="empty"></div>
                    </div>

                </div>

                <div class="about-product">
                    <img src="../static/assets/image/about/a6 (1).jpg" alt="">

                    <div class="about-product-text">
                        <h2>who we are ?</h2>
                        <p>At Cara, we are passionate about fashion and believe that clothing is an expression of one's individuality. Our mission
                        is to empower individuals to embrace their unique style and feel confident in what they wear. We curate a diverse range
                        of clothing that combines comfort, quality, and the latest trends. Whether you're seeking casual everyday wear, elegant
                        evening attire, or sporty activewear, we've got you covered. We aspire to make fashion accessible to all while promoting
                        self-expression, inclusivity, and environmental responsibility. Join us in celebrating the art of
                        self-fashioning with Cara</p>
                        <a href="#">Create stunning.images.with.os much pr. as little control. as you like thanks to a choice of Basic and Creative Modes.</a>
                        <div class="empty"></div>
                    </div>

                </div>

            </div>

        </section>

        <!-- ABOUT VIDEO -->

        <section id="video" class="section-p1">
            <h2>download our <span>app</span></h2>
            <video controls loop muted autoplay>
                <source src="../static/assets/image/about/1.mp4" type="video/mp4">
                Your Browser Not Support Video Type.
                <!-- MIME VIDEO -->
            </video>
        </section>

        <!-- ABOUT FEATURE -->

        <section id="feature" class="section-p1">
        
            <div class="feature-box">
                <img src="../static/assets/image/features/f1.png" alt="Feature_1">
                <h6>Free Shopping</h6>
            </div>
        
            <div class="feature-box">
                <img src="../static/assets/image/features/f2.png" alt="Feature_2">
                <h6>Online Order</h6>
            </div>
        
            <div class="feature-box">
                <img src="../static/assets/image/features/f3.png" alt="Feature_3">
                <h6>Save Money</h6>
            </div>
        
            <div class="feature-box">
                <img src="../static/assets/image/features/f4.png" alt="Feature_4">
                <h6>Promotion</h6>
            </div>
        
            <div class="feature-box">
                <img src="../static/assets/image/features/f5.png" alt="Feature_5">
                <h6>Happy Sell</h6>
            </div>
        
            <div class="feature-box">
                <img src="../static/assets/image/features/f6.png" alt="Feature_6">
                <h6>24/7 Support</h6>
            </div>
        
        </section>

        <!-- BLOG NEW LETTER -->
        
        <section id="news-letter" class="section-p1 section-m1">
            <div class="news-text">
                <h4>sign up for NewsLetters</h4>
                <p>get e-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <form class="form">
                <input type="text" placeholder="Your E-Mail Address">
                <button class="black" type="submit">sign up</button>
            </form>
        </section>
                
        <!-- BLOG FOOTER -->
        
        <footer class="section-p1">
            <div class="col">
                <img src="../static/assets/image/logo (1).png" alt="logo" class="logo" />
                <h4>Contact</h4>
                <p>
                    <strong>Address:</strong> 6 October AL Giza
                </p>
                <p><strong>Phone:</strong> <i>01060244198 / 01557979528</i></p>
                <p><strong>Hours:</strong> 08.00 - 20.00 . sun - thr</p>
        
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <a href=""><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                        <a href=""><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <a href="about.html">About Us</a>
                <a href="blog.html">Delivery Information</a>
                <a href="blog.html">Privacy Poilcy</a>
                <a href="blog.html">Terms &amp; Condition</a>
                <a href="contact.html">Contact Us</a>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <a href="#newsLetter">Sign In</a>
                <a href="cart.html">View Cart</a>
                <a href="shop.html">My WishList</a>
                <a href="contact.html">Help</a>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google Play</p>
                <div class="row">
                    <img src="../static/assets/image/pay/play.jpg" alt="app" />
                    <img src="../static/assets/image/pay/app.jpg" alt="play" />
                </div>
                <p>Secured Payment Gateways</p>
                <img src="../static/assets/image/pay/pay.png" alt="pay" />
            </div>
            <div class="copyright">
                <p>©2023 CARA :) <span>HEMA</span>.</p>
            </div>
        </footer>

        <!-- BTN SCROLL -->

        <button id="btn-scroll">↑</button>
                
                
                
        <!-- BootStrap JS -->
        <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
        <!-- JQuery JS -->
        <script src="../static/js/jquery-3.7.1.js"></script>
        <!-- Popper JS -->
        <script src="../static/js/popper.min.js"></script>
        <!-- FontAwesome JS -->
        <script src="../static/js/all.min.js"></script>
        <!-- Main JS -->
        <script src="../static/js/script.js"></script>
        
    </body>

</html>